@use 'colors' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Ubuntu', sans-serif;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
.nav {
	position: sticky;
	top: 0;
	padding: 1.5em 2em;
	background-color: $white;
	z-index: 1000;
	&-box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&__title {
			color: $black;
			text-decoration: none;
			font-size: 2rem;
			&-text {
				font-size: 1.5rem;
				text-decoration: underline;
			}
		}
		&__list {
			display: flex;
			list-style-type: none;
			&-style {
				position: relative;
				color: $black;
				cursor: pointer;
				&--number {
					position: absolute;
					bottom: -0.1em;
					right: 1.4em;
					font-size: 1.1rem;
					font-weight: bold;
					z-index: 1;
					&::after {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						width: 1em;
						height: 1em;
						border-radius: 50%;
						background-color: $white;
						content: '';
						z-index: -1;
					}
				}
			}
			&-item {
				margin: 0 1.5em;
				background-repeat: no-repeat;
				background-size: cover;
				width: 2em;
				height: 2em;
				&--heart {
					background-image: url(../../src/img/svg/heart.svg);
				}
				&--basket {
					background-image: url(../../src/img/svg/basket.svg);
				}
				&--account {
					background-image: url(../../src/img/svg/account.svg);
				}
			}
		}
	}
}
.notification {
	padding: 1em;
	background-color: $main-color;
	&-text {
		text-align: center;
		color: $white;
		font-weight: bold;
		font-size: 1.4rem;
	}
}

.menu {
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 100%;
	padding: 3em 2em;
	background-color: rgba(255, 255, 255, 0.9);
	transform: translateX(100%);
	transition: transform 0.3s;
	z-index: 10000;
	&-active {
		transform: translateX(0);
	}
	&-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&__text {
			font-size: 3rem;
			color: $main-color;
			font-weight: bold;
		}
		&__icon {
			background-image: url(../../src/img/svg/x-blue.svg);
			background-repeat: no-repeat;
			width: 3em;
			height: 3em;
			cursor: pointer;
		}
	}
	&-line {
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		margin: 1em 0;
		width: 80%;
		height: 0.2em;
		background-color: $main-color;
	}
	&-box {
		margin-top: 5em;
	}
	&-item {
		position: relative;
		margin-bottom: 2em;
		&__link {
			color: $black;
			text-decoration: none;
		}
		&__left {
			display: flex;
			align-items: center;
		}
		&__img {
			width: 25%;
			margin-right: 1.5em;
		}
		&__text {
			font-size: 1.5rem;
		}
		&__price {
			font-weight: bold;
			font-size: 1.8rem;
		}
		&__x {
			position: absolute;
			top: 50%;
			right: 3%;
			transform: translate(0, -50%);
			background-image: url(../../src/img/svg/x.svg);
			width: 2em;
			height: 2em;
			cursor: pointer;
		}
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1001;
}

.header {
	position: relative;
	padding: 1.5em 2em;
	height: 65vh;
	background-image: url(../../src/img/baner-small.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 50%;
	z-index: 1;
	&-hero {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: -1;
	}
	&-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		color: $white;
	}
	&-text {
		font-size: 1.8rem;
		&__style {
			color: $main-color;
			font-weight: bold;
		}
		&__name {
			font-weight: bold;
			font-size: 3.5rem;
		}
		&__btn {
			position: relative;
			padding: 0.7em 2em;
			margin-top: 2em;
			font-size: 2rem;
			width: 9.3em;
			color: $white;
			text-decoration: none;
			font-weight: 600;
			border: 0.2em solid $white;
			border-radius: 0.5em;
			overflow: hidden;
			transition: color 0.3s;
			z-index: 1;
			&:hover {
				color: $main-color;
			}
			&::after {
				position: absolute;
				top: -50%;
				left: -5%;
				transform: rotate(-10deg) translateX(-100%);
				width: 110%;
				height: 180%;
				background-color: $white;
				transition: transform 0.3s;
				z-index: -1;
				content: '';
			}
			&:hover::after {
				transform: translateX(0);
			}
		}
	}
}

.shop {
	padding: 6em 0;
	scroll-margin-top: 5.3em;
	&-title {
		padding: 0 1em;
		font-size: 3rem;
		color: $main-color;
		text-align: center;
		&__soon {
			color: $orange;
		}
	}
	&-box {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 8em;
		&__shoes {
			position: relative;
			margin: 0 5em 15em;
			width: 32em;
		}
		&__heart {
			position: absolute;
			top: 0;
			right: 0;
			background-image: url(../../src/img/svg/heart.svg);
			background-repeat: no-repeat;
			width: 3em;
			height: 3em;
			z-index: 10;
			transition: transform 0.3s;
			cursor: pointer;
			&:hover {
				transform: scale(1.05);
			}
		}
		&__promo {
			display: flex;
			align-items: center;
		}
		&__item {
			color: $black;
			text-decoration: none;
			&:hover {
				.shop-box__item-top {
					transform: scale(1.05);
				}
			}
			&-promo {
				position: absolute;
				padding: 1em;
				font-size: 1.2rem;
				text-align: center;
				background-color: $main-color;
				color: $white;
				font-weight: 600;
				text-transform: uppercase;
				&--soon {
					background-color: $orange;
				}
			}
			&-top {
				width: 100%;
				object-fit: cover;
				padding-bottom: 5em;
				transition: transform 0.3s;
			}
			&-bottom {
				&--title {
					font-size: 2rem;
				}
				&--text {
					margin: 0.5em 0 1em;
					font-size: 1.5rem;
					color: $grey;
				}
				&--price {
					font-size: 2rem;
					font-weight: bold;
				}
				&--promo {
					margin-left: 0.5em;
				}
			}
		}
	}
}

.item {
	padding: 10em 4em;
	&-promo {
		position: absolute;
		top: 0;
		left: 0;
		padding: 1em;
		font-size: 1.3rem;
		text-align: center;
		background-color: $main-color;
		color: $white;
		font-weight: 600;
		text-transform: uppercase;
	}
	&-box {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		&__left {
			width: 30em;
			margin: auto;
		}
		&__right {
			width: 100%;
			&-brand {
				font-size: 4rem;
			}
			&-model {
				margin: 0.2em 0 0.7em;
				font-size: 3rem;
				color: $grey;
			}
			&-price {
				font-weight: bold;
				font-size: 3rem;
			}
			&-lastprice {
				margin: 0.7em 0 1em;
				font-size: 1.3rem;
				font-weight: bold;
			}
			&-text {
				color: $light-grey;
				font-size: 1.5rem;
				line-height: 1.5em;
				letter-spacing: 0.05em;
			}
			&-btns {
				display: flex;
				justify-content: space-between;
				&--item {
					padding: 1em;
					font-size: 1.4rem;
					letter-spacing: 0.07em;
					font-weight: bold;
					border: 0.2em solid $grey;
					text-transform: uppercase;
					cursor: pointer;
					&-heart {
						display: none;
						margin-left: 0.5em;
						background-image: url(../../src/img/svg/heart-grey.svg);
						background-size: cover;
						width: 1.5em;
						height: 1.5em;
					}
					&:nth-child(1) {
						width: 47.5%;
						background-color: $grey;
						color: $light-white;
						transition: color 0.2s, background-color 0.2s;
						&:hover {
							background-color: $light-white;
							color: $grey;
						}
					}
					&:nth-child(2) {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 47.5%;
						background-color: $light-white;
						color: $grey;
						transition: color 0.2s, background-color 0.2s, background-image 0.3s;
						&:hover {
							.item-box__right-btns--item-heart {
								background-image: url(../../src/img/svg/heart-white.svg);
							}
							background-color: $grey;
							color: $light-white;
						}
					}
				}
			}
			&-sku {
				margin-top: 1em;
				font-size: 1.3rem;
				font-weight: 600;
			}
			&-sizes {
				position: relative;
				margin: 4em 0 2em;
				border: 0.2em solid $grey;
				font-weight: bold;
				font-size: 1.4rem;
				color: $grey;
				letter-spacing: 0.07em;
				text-transform: uppercase;
				&--title {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 1em 2em;
					width: 100%;
					background-color: transparent;
					border: 0.1em solid transparent;
					cursor: pointer;
					&-text {
						font-size: 1.4rem;
						font-weight: bold;
						letter-spacing: 0.07em;
						color: $grey;
					}
					&-icon {
						background-image: url(../../src/img/svg/arrow-down.svg);
						background-size: cover;
						width: 1.5em;
						height: 1.5em;
						transition: transform 0.5s;
					}
				}
				&-box {
					position: absolute;
					left: 50%;
					transform: translate(-50%);
					width: 100.4%;
					max-height: 0;
					border: 0.2em solid $grey;
					border-top: none;
					transition: max-height 0.5s;
					background-color: $light-white;
					overflow-y: scroll;
					cursor: pointer;
					&--item {
						display: block;
						padding: 1em 2em;
						border-top: 0.2em solid $grey;
						transition: background-color 0.3s;
						&:hover {
							background-color: $white;
						}
						&:nth-child(1) {
							text-transform: capitalize;
						}
					}
				}
			}
		}
	}
}

.basket {
	padding: 10em 0.5em;
	&-title {
		margin-bottom: 1em;
	}
	&-box {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&-left {
		width: 100%;
		&__item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0.5em 0;
			margin-bottom: 2em;
			border-top: 0.1em solid $light-grey;
			border-bottom: 0.1em solid $light-grey;
		}
		&__img {
			width: 20%;
		}
		&__box {
			&-title {
				font-size: 1.3rem;
				margin-bottom: 0.3em;
				font-weight: 500;
				letter-spacing: 0.05em;
			}
			&-text {
				font-size: 0.8rem;
			}
		}
		&__x {
			background-image: url(../../src/img/svg/x.svg);
			background-repeat: no-repeat;
			width: 2em;
			height: 2em;
			cursor: pointer;
		}
	}
	&-right {
		display: flex;
		flex-direction: column;
		padding: 4em 2em;
		border-radius: 1.5em;
		width: 100%;
		background-color: $grey;
		color: $white;
		letter-spacing: 0.05em;
		&__title {
			margin-bottom: 1em;
			font-size: 2rem;
			font-weight: 500;
			text-transform: uppercase;
		}
		&__box {
			display: flex;
			justify-content: space-between;
			margin-bottom: 1em;
			font-size: 1.5rem;
		}
		&__rabat {
			display: flex;
			justify-content: space-between;
			&-input {
				padding: 0.7em 1em;
				border: 0.1em solid $white;
				border-radius: 0.5em;
				letter-spacing: 0.1em;
				width: 80%;
				font-size: 1.3rem;
			}
			&-btn {
				padding: 0.7em 1em;
				margin-left: 1em;
				color: $white;
				background-color: $grey;
				text-decoration: none;
				font-weight: bold;
				border: 0.2em solid $white;
				border-radius: 0.5em;
				transition: color 0.3s, background-color 0.3s;
				&:hover {
					background-color: $white;
					color: $grey;
				}
			}
		}
		&__line {
			margin: 3em 0;
			width: 100%;
			height: 0.1em;
			background-color: $white;
		}
		&__price {
			display: flex;
			justify-content: space-between;
			&-count {
				font-weight: 500;
				font-size: 2rem;
				margin-bottom: 0.2em;
			}
		}
		&__btn {
			padding: 1em;
			margin-top: 2em;
			text-align: center;
			font-size: 1.5rem;
			color: $white;
			text-decoration: none;
			font-weight: bold;
			border: 0.2em solid $white;
			border-radius: 0.5em;
			transition: color 0.3s, background-color 0.3s;
			&:hover {
				background-color: $white;
				color: $grey;
			}
		}
	}
}
.order {
	padding: 10em 0.5em;
	&-box {
		display: flex;
		flex-direction: column;
		align-items: left;
	}
	&-line {
		margin: 1em 0;
		width: 100%;
		height: 0.1em;
		background-color: $white;
		&__dark {
			background-color: $grey;
		}
	}
	&-left {
		padding: 3em 2em;
		margin-right: 5em;
		width: 100%;
		&__title {
			font-weight: 500;
			font-size: 2.5rem;
			color: $grey;
			text-align: center;
			&-dark {
				color: $white;
			}
		}
		&__text {
			font-size: 1.2rem;
			margin-bottom: 1.5em;
		}
	}
	&-data {
		display: flex;
		flex-direction: column;
		align-items: space-between;
		width: 100%;
		&__name {
			display: flex;
			justify-content: space-between;
		}
		&__box {
			display: flex;
			flex-direction: column;
			margin: 0 1em 2em 0;
			&-name {
				margin-bottom: 0.4em;
				font-size: 1.5rem;
				letter-spacing: 0.05em;
				color: $grey;
			}
			&-text {
				padding: 0.9em 2em;
				border-radius: 0.5em;
				border: 0.1em solid $light-grey;
				width: 100%;
				background-color: $light-white;
			}
			&-checkbox {
				margin-top: 2em;
				display: flex;
				align-items: center;
				&--input {
					appearance: none;
					-webkit-appearance: none;
					-moz-appearance: none;
					position: relative;
					border: 0.1em solid $black;
					padding: 0.6em;
					margin-right: 0.6em;
					cursor: pointer;
					&:checked::after {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						width: 50%;
						height: 50%;
						content: '';
						background-color: $black;
					}
				}
				&--text {
					font-size: 1.2rem;
				}
			}
		}
		&__longbox {
			display: flex;
			flex-direction: column;
			margin: 0 1em 2em 0;
		}
	}
	&-right {
		display: flex;
		flex-direction: column;
		padding: 3em 2em;
		margin-right: 5em;
		width: 100%;
		border-radius: 1.5em;
		background-color: $grey;
		color: $white;
		&__itembox {
			padding: 2em 0;
		}
		&__item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 2em;
			&-box {
				display: flex;
				align-items: center;
			}
			&-img {
				width: 10em;
				margin-right: 2em;
			}
			&-text {
				font-size: 1.2rem;
				font-weight: 500;
			}
			&-price {
				margin-left: 1em;
				width: 20%;
				font-weight: 500;
				font-size: 1.3rem;
			}
		}
		&__place {
			display: flex;
			justify-content: space-between;
			padding: 2em 0;
			&-vatbox {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
			}
			&-text {
				font-size: 1.5rem;
				font-weight: 500;
			}
			&-vat {
				margin-top: 0.2em;
				color: $white;
			}
			&-box {
				display: flex;
				justify-content: space-between;
				margin-top: 2em;
				&--item {
					padding: 1em;
					margin: 0 0.3em;
					border: 0.2em solid $white;
					font-size: 0.9rem;
					font-weight: bold;
					letter-spacing: 0.05em;
					color: $white;
					border-radius: 0.5em;
					background-color: $grey;
					transition: background-color 0.3s, color 0.3s;
					&:hover {
						background-color: $white;
						color: $grey;
					}
					&-price {
						margin-top: 0.2em;
						font-size: 1rem;
					}
					&-active {
						color: $grey;
						background-color: $white;
					}
				}
			}
		}
		&__secoundplace {
			padding: 2em 0;
		}
		&__polity {
			&-text {
				font-size: 0.8rem;
				margin-bottom: 2em;
			}
			&-box {
				display: flex;
				align-items: center;
				margin-top: 1em;
				&--input {
					appearance: none;
					-webkit-appearance: none;
					-moz-appearance: none;
					position: relative;
					padding: 0.6em;
					margin-right: 0.6em;
					border: 0.1em solid $white;
					cursor: pointer;
					&:checked::after {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						width: 50%;
						height: 50%;
						content: '';
						background-color: $white;
					}
				}
				&--text {
					font-size: 1.2rem;
				}
			}
		}
		&__btn {
			margin-top: 2em;
			width: 100%;
			padding: 1em;
			text-align: center;
			font-size: 1.5rem;
			border: 0.2em solid $white;
			color: $white;
			font-weight: bold;
			text-decoration: none;
			border-radius: 0.5em;
			transition: color 0.3s, background-color 0.3s;
			&:hover {
				background-color: $white;
				color: $grey;
			}
		}
	}
}

.login {
	padding: 10em 0.5em;
	&-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		&__item {
			display: flex;
			flex-direction: column;
			margin: 10em 2em 0;
			width: 95%;
			color: $grey;
		}
		&__title {
			position: relative;
			font-size: 2.5rem;
			text-transform: uppercase;
			font-weight: 500;
			text-align: center;
			&::after {
				position: absolute;
				bottom: -50%;
				transform: translate(0, -50%);
				left: 0;
				width: 100%;
				height: 0.1em;
				background-color: $grey;
				content: '';
			}
		}
		&__text {
			margin: 1.5em 0 1em;
			text-align: center;
			font-size: 1.5rem;
		}
	}
	&-input {
		margin-top: 3em;
		display: flex;
		flex-direction: column;
		&__password {
			position: relative;
			&-eye {
				position: absolute;
				top: 50%;
				right: 5%;
				transform: translate(0, -50%);
				background-image: url(../../src/img/svg/eye.svg);
				background-repeat: no-repeat;
				width: 2em;
				height: 2em;
				cursor: pointer;
				&::after {
					position: absolute;
					top: -5%;
					left: 45%;
					transform: translate(-50%, 0);
					background-color: $grey;
					height: 110%;
					transform: rotate(135deg);
					width: 0.2em;
					content: '';
				}
			}
		}
		&__title {
			margin-bottom: 0.4em;
			font-size: 1.5rem;
			letter-spacing: 0.05em;
			color: $grey;
		}
		&__item {
			padding: 0.9em 1em;
			width: 100%;
			border-radius: 0.5em;
			border: 0.1em solid $light-grey;
			background-color: $light-white;
			font-weight: 500;
			&:focus {
				outline: none;
			}
		}
	}
	&-btn {
		margin-top: 3em;
		padding: 0.9em 1em;
		border: 0.2em solid $main-color;
		border-radius: 0.5em;
		background-color: $main-color;
		color: $light-white;
		font-size: 1.5rem;
		font-weight: 600;
		letter-spacing: 0.05em;
		transition: color 0.3s, background-color 0.3s;
		cursor: pointer;
		&:hover {
			background-color: $light-white;
			color: $main-color;
		}
		&__secound {
			color: $main-color;
			background-color: $light-white;
			&:hover {
				background-color: $main-color;
				color: $light-white;
			}
		}
	}
	&-forget {
		margin-top: 0.8em;
		align-self: flex-end;
		color: $light-grey;
		font-size: 1.2rem;
	}
	&-error {
		margin-top: 1em;
		color: $red;
		font-size: 1.6rem;
		font-weight: 600;
		&__active {
			color: rgb(126, 118, 118);
		}
		&__activete {
			color: rgb(37, 214, 21);
		}
	}
	&-cancel {
		position: relative;
		margin-top: 1.5em;
		text-align: center;
		color: $main-color;
		font-size: 1.5rem;
		font-weight: 600;
		font-weight: bold;
		transition: color 0.3s;
		&:hover {
			color: #1654b1;
		}
	}
}

.panel {
	position: relative;
	display: flex;
	&-left {
		position: fixed;
		top: 0;
		width: 100%;
		background-color: $white;
		transform: translateX(100%);
		transition: transform 0.3s;
		z-index: 100;
		&__list {
			margin-top: 14em;
			padding: 1em 2em;
			display: flex;
			flex-direction: column;
			height: 100vh;
			list-style-type: none;
			&-item {
				margin: 2.5em 0;
				&-style {
					display: flex;
					align-items: center;
					color: $black;
					padding: 0.5em;
					font-weight: 600;
					font-size: 1.6rem;
					text-decoration: none;
					border: 0.2em solid $black;
					transition: background-color 0.3s, color 0.3s;
					&--active {
						background-color: $black;
						color: $white;
						.panel-left__list-item--icon-house {
							background-image: url(../../src/img/svg/house-white.svg);
						}
					}
					&--active2 {
						background-color: $black;
						color: $white;
						.panel-left__list-item--icon-shoppingbag {
							background-image: url(../../src/img/svg/basket-white.svg);
						}
					}
					&--active3 {
						background-color: $black;
						color: $white;
						.panel-left__list-item--icon-account {
							background-image: url(../../src/img/svg/account-white.svg);
						}
					}
					&:hover {
						background-color: $black;
						color: $white;
					}
					&:hover {
						.panel-left__list-item--icon-house {
							background-image: url(../../src/img/svg/house-white.svg);
						}
						.panel-left__list-item--icon-shoppingbag {
							background-image: url(../../src/img/svg/basket-white.svg);
						}
						.panel-left__list-item--icon-account {
							background-image: url(../../src/img/svg/account-white.svg);
						}
						.panel-left__list-item--icon-arrow {
							background-image: url(../../src/img/svg/logout-white.svg);
						}
					}
				}
				&--icon {
					margin-right: 0.3em;
					width: 2em;
					height: 2em;
					background-size: cover;
					background-repeat: no-repeat;
					&-house {
						background-image: url(../../src/img/svg/house.svg);
					}
					&-shoppingbag {
						background-image: url(../../src/img/svg/basket.svg);
					}
					&-account {
						background-image: url(../../src/img/svg/account.svg);
					}
					&-arrow {
						background-image: url(../../src/img/svg/logout.svg);
					}
				}
			}
		}
	}
	&-btn {
		position: fixed;
		top: 7em;
		right: 1em;
		background-color: transparent;
		padding: 0.5em;
		border: 0.1em solid transparent;
		z-index: 101;
		cursor: pointer;
		&__bars {
			background-image: url(../../src/img/svg/bars.svg);
			width: 3em;
			height: 3em;
		}
	}
	&-gui {
		display: flex;
		flex-direction: column;
		&__skill {
			position: relative;
			width: 16em;
			height: 16em;
			margin: 2em 0 1em;
		}
		&__price {
			text-align: center;
			font-size: 1.6rem;
			font-weight: 500;
			color: $light-grey;
		}
		&__outer {
			padding: 2em;
			height: 16em;
			width: 16em;
			border-radius: 50%;
			box-shadow: 0.6em 0.6em 1em -0.1em rgba(0, 0, 0, 0.15),
				-0.6em -0.6em 1em -0.1em rgba(255, 255, 255, 0.7);
			&-inner {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 12em;
				width: 12em;
				border-radius: 50%;
				box-shadow: inset 0.4em 0.4em 0.6em 0.1em rgba(0, 0, 0, 0.2),
					inset -0.4em -0.4em 0.6em 0.1em rgba(255, 255, 255, 0.7),
					-0.05em -0.05em 0 rgba(255, 255, 255, 1),
					0.05em 0.05em 0 rgba(0, 0, 0, 0.15),
					0 1.2em 1em -1em rgba(0, 0, 0, 0.05);
				&--number {
					font-weight: 500;
					font-size: 2.5rem;
					color: $main-color;
				}
			}
		}
		&__svg {
			position: absolute;
			top: 0;
			left: 0;
		}
		&__circle {
			fill: none;
			stroke: $main-color;
			stroke-width: 2em;
			stroke-dasharray: 472;
			stroke-dashoffset: 472;
			animation: anim 2s linear forwards;
		}
	}
	&-right {
		padding: 4em 1em;
		width: 100%;
		&__textbox {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-right: 7em;
			width: 100%;
			&--title {
				color: $main-color;
				font-size: 3rem;
			}
			&--text {
				margin: 1em 0 2em;
				color: $grey;
				font-size: 2rem;
			}
			&--btn {
				align-self: center;
				padding: 1em;
				margin-bottom: 5em;
				color: $white;
				text-decoration: none;
				background-color: $main-color;
				text-align: center;
				font-size: 2rem;
				font-weight: 500;
				border-radius: 1.5em;
				border: 0.2em solid $main-color;
				width: 85%;
				transition: color 0.3s, background-color 0.3s;
				&:hover {
					background-color: $white;
					color: $main-color;
				}
			}
		}
		&__name {
			display: flex;
		}
		&__title {
			text-align: center;
			color: $main-color;
			font-size: 5rem;
			margin-bottom: 1em;
		}
		&__orders {
			&-title {
				font-size: 1rem;
			}
		}
		&__box {
			width: 100%;
			&-item {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 2.5em;
				border-top: 0.1em solid $light-grey;
				border-bottom: 0.1em solid $light-grey;
				&--state {
					font-weight: 500;
					font-size: 2rem;
				}
				&__img {
					width: 15%;
				}
			}
		}
	}
	&-account {
		display: flex;
		flex-direction: column;
		width: 100%;
		&__subtitle {
			color: $main-color;
			font-size: 2.5rem;
			margin: 1.5em 0 0.5em;
		}
		&__box {
			display: flex;
			justify-content: space-between;
		}
		&__secoundbox {
			display: flex;
			flex-direction: column;
			margin: 3em 0;
		}
		&__btn {
			margin-top: 3em;
			padding: 0.7em;
			font-size: 1.7rem;
			font-weight: 600;
			color: $white;
			background-color: $main-color;
			letter-spacing: 0.05em;
			border-radius: 0.5em;
			border: 0.2em solid $main-color;
			transition: color 0.3s, background-color 0.3s;
			&:hover {
				background-color: $white;
				color: $main-color;
			}
		}
		&__item {
			display: flex;
			flex-direction: column;
			width: 48%;
			&-name {
				margin-bottom: 0.4em;
				font-size: 1.5rem;
				letter-spacing: 0.05em;
				color: $grey;
			}
			&-input {
				padding: 0.9em 1em;
				border-radius: 0.5em;
				border: 0.1em solid $light-grey;
				background-color: $light-white;
				font-weight: 500;
				&:focus {
					outline: none;
				}
			}
		}
	}
	&-circlebox {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		&__text {
			text-align: center;
			width: 40%;
		}
	}
	&-error {
		margin-top: 1em;
		color: rgb(37, 214, 21);
		font-size: 1.6rem;
		letter-spacing: 0.05em;
		font-weight: 600;
	}
	&-active {
		transform: translate(0);
	}
}

.admin {
	&__btn {
	}
	&-box {
		display: flex;
		justify-content: space-evenly;
	}
	&-code {
		display: flex;
		flex-direction: column;
	}
}

.cookies {
	position: fixed;
	bottom: 0;
	padding: 3em;
	width: 100%;
	background-color: $main-color;
	border: 0.3em solid $grey;
	z-index: 1000;
	&-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		&__btn {
			border: 0.2em solid $white;
			background-color: $white;
			border-radius: 0.5em;
			padding: 0.5em 2.5em;
			font-size: 1.3rem;
			color: $main-color;
			font-weight: 600;
			transition: color 0.3s, background-color 0.3s;
			cursor: pointer;
			&:hover {
				color: $white;
				background-color: $main-color;
			}
		}
	}
	&-text {
		font-size: 1.1rem;
		width: 100%;
		text-align: center;
		margin-bottom: 1em;
		font-weight: 500;
		letter-spacing: 0.05em;
		color: $white;
		&__style {
			position: relative;
			color: $white;
			transition: color 0.3s;
			cursor: pointer;
			&::after {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 0.1em;
				background-color: $white;
				transition: height 0.3s;
				content: '';
				z-index: -1;
			}
			&:hover {
				color: $main-color;
				&::after {
					height: 100%;
				}
			}
		}
	}
}

.faq {
	padding: 6em 0.5em;
	&-box {
		margin-top: 5em;
		max-width: 80em;
	}
	&-item {
		margin-top: 2em;
		padding: 1em 2em;
		background-color: $main-color;
		border-radius: 0.5em;
		color: $white;
		cursor: pointer;
	}
	&-questions {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&__title {
			font-size: 1.8rem;
		}
		&__icon {
			background-image: url(../../src/img/svg/arrow-down-white.svg);
			background-repeat: no-repeat;
			width: 2.5em;
			height: 2.5em;
			transition: transform 0.5s ease;
		}
	}
	&-answers {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s ease;
		&__text {
			padding: 1em 0;
			font-size: 1.4rem;
			line-height: 1.5em;
			font-weight: 500;
			&-link {
				position: relative;
				color: $white;
				text-decoration: none;
				text-transform: uppercase;
				transition: color .3s;
				z-index: 1;
				&::after {
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 0.1em;
					background-color: $white;
					transition: height 0.3s;
					content: '';
					z-index: -1;
				}
				&:hover {
					color: $main-color;
					&::after {
						height: 100%;
					}
				}
			}
		}
	}
	&-active .faq-answers {
		max-height: 30em;
	}
	&-active .faq-questions__icon {
		transform: rotate(180deg);
	}
}

.private-polity {
	padding: 6em .5em;
}

.error404 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	padding: 15rem 2rem;
	color: $main-color;
	&-text {
		font-size: 15rem;
	}
	&-paragraf {
		font-size: 3rem;
		font-weight: 500;
	}
}

.panel-active {
	transform: translate(0);
}

.eye-active::after {
	display: none;
}

.heart-active {
	background-image: url(../../src/img/svg/heart-active.svg);
}
.sizes-active {
	max-height: 15em;
}
.arrow-active {
	transform: rotate(180deg);
}
.active {
	display: none;
}

@keyframes anim {
	100% {
		stroke-dashoffset: 165;
	}
}

@keyframes rotate360 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.footer {
	background-color: $main-color;
	&-top {
		padding: 5em 4em 2em;
		color: $white;
		&__title {
			margin-bottom: 2em;
			text-align: center;
			font-size: 2rem;
		}
		&__btns {
			display: flex;
			flex-direction: column;
			align-items: center;
			&-list {
				margin: auto;
				list-style-type: none;
				text-align: center;
				&--item {
					margin-bottom: 2em;
				}
			}
			&-item {
				position: relative;
				font-size: 1.5rem;
				font-weight: bold;
				text-decoration: none;
				color: $white;
				&::after {
					position: absolute;
					bottom: -0.1em;
					left: 0;
					width: 100%;
					height: 0.1em;
					transform: scale(0);
					transform-origin: right;
					transition: transform 0.3s;
					background-color: $white;
					content: '';
				}
				&:hover::after {
					transform: scale(1);
					transform-origin: left;
				}
			}
		}
		&__box {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 3em;
		}
		&__icons {
			display: flex;
			&-item {
				width: 3em;
				height: 3em;
				margin: 0 1.5em;
				&--instagram {
					background-image: url(../../src/img/svg/instagram.svg);
				}
				&--tiktok {
					background-image: url(../../src/img/svg/tiktok.svg);
				}
			}
		}
	}
	&-bottom {
		padding: 1em;
		text-align: center;
		font-size: 2rem;
		color: $white;
		background-color: $grey;
	}
}

@media (min-width: 576px) {
	.nav {
		padding: 1.5em 4em;
		&-box {
			&__title {
				font-size: 3rem;
			}
			&__list {
				&-item {
					width: 3em;
					height: 3em;
				}
				&-style--number {
					font-size: 1.6rem;
					right: 1em;
				}
			}
		}
	}
	.header {
		padding: 1.5em 4em;
		background-image: url(../../src/img/baner-big.jpg);
		&-box {
			align-items: flex-start;
		}
		&-text {
			font-size: 2rem;
			&__name {
				font-size: 5rem;
			}
		}
	}
	.item-promo {
		padding: 1em 2em;
		font-size: 1.5rem;
	}
	.basket {
		padding: 10em 4em;
	}
	.menu {
		width: 40em;
		background-color: $white;
	}
	.shop {
		padding: 6em 4em 10em;
		&-title {
			font-size: 4rem;
			padding: auto;
		}
		&-box {
			margin-top: 15em;
			&__shoes {
				margin: 0 5em 5em;
			}
		}
	}
	.item-box {
		&__left {
			width: 45em;
		}
		&__right-btns--item {
			&:nth-child(1) {
				width: 75%;
			}
			&:nth-child(2) {
				width: 20%;
			}
		}
	}
	.order {
		padding: 10em 4em;
		&-box {
			align-items: center;
		}
		&-left {
			width: 70%;
			&__title {
				text-align: left;
			}
			&__text {
				margin-bottom: 3em;
			}
		}
		&-right {
			width: 70%;
			&__place-box--item {
				font-size: 1.2rem;
			}
			&__item {
				&-text {
					font-size: 1.5rem;
				}
				&-price {
					margin-left: 2em;
					font-size: 2rem;
				}
			}
			&__polity-text {
				font-size: 1.1rem;
			}
		}
	}
	.cookies {
		&-box {
			flex-direction: row;
		}
		&-text {
			width: 75%;
			margin-right: 1em;
			text-align: left;
		}
	}
	.error404 {
		&-text {
			font-size: 30rem;
		}
	}
}
@media (min-width: 768px) {
	.header-text {
		font-size: 3rem;
		&__name {
			font-size: 8rem;
		}
	}
	.shop {
		scroll-margin-top: 6.4em;
		&-title {
			font-size: 6rem;
		}
	}
	.footer-top {
		padding: 7em 4em;
		&__title {
			margin: auto;
			align-items: flex-start;
			text-align: left;
			font-size: 3rem;
		}
		&__btns {
			flex-direction: row;
			&-list {
				margin: 6em 20em 6em 0;
				text-align: left;
				&--item {
					margin: 1.5em 0;
				}
			}
			&-item {
				font-size: 1.8rem;
			}
		}
		&__box {
			margin: auto;
		}
	}
	.basket {
		&-left {
			&__box {
				&-title {
					font-size: 1.5rem;
				}
				&-text {
					font-size: 1.3rem;
				}
			}
		}
	}
	.login-box {
		justify-content: center;
		flex-direction: row;
		align-items: flex-start;
		&__item {
			width: 45%;
		}
	}
	.panel {
		&-btn {
			display: none;
		}
		&-left {
			transform: translateX(0);
			width: 30em;
			position: static;
			&__list {
				margin-top: 0;
				height: 100%;
			}
		}
		&-gui {
			flex-direction: row;
		}
		&-right {
			padding: 4em 6em 13em;
			&__title {
				text-align: left;
			}
			&__box-item {
				margin-bottom: 5em;
			}
			&__textbox {
				align-items: flex-start;
				&--btn {
					align-self: flex-end;
					width: 60%;
					margin-bottom: 0;
				}
			}
		}
	}
	.cookies {
		&-box {
			&__btn {
				font-size: 2rem;
			}
		}
		&-text {
			font-size: 1.3rem;
		}
	}
}

.delete-size {
	text-decoration: line-through;
}
.promo-item {
	text-decoration: line-through;
	font-size: 1.8rem;
}

@media (min-width: 992px) {
	.item-box {
		flex-direction: row;
		&__left {
			margin-right: 4em;
		}
		&__right-sizes-box {
			width: 100.7%;
		}
	}
	.basket {
		&-box {
			flex-direction: row;
			justify-content: space-between;
		}
		&-left {
			width: 65%;
			&__item {
				padding: 0.5em 2em;
				margin-bottom: 3em;
			}
			&__box {
				&-title {
					font-size: 2rem;
				}
				&-text {
					font-size: 1.5rem;
				}
			}
		}
		&-right {
			width: 28%;
		}
	}
	.order {
		&-box {
			flex-direction: row;
			justify-content: center;
		}
		&-left {
			width: 43%;
		}
		&-right {
			width: 40%;
		}
	}
	.login-box__item {
		margin: 10em 7em 0;
	}
	.cookies {
		&-text {
			font-size: 1.6rem;
		}
	}
}
@media (min-width: 1200px) {
	.item-box {
		&__left {
			width: 55em;
			margin-right: 8em;
		}
		&__right {
			&-text {
				line-height: 2em;
			}
		}
	}
	.panel-right {
		width: 85%;
		&__box {
			width: 80%;
		}
	}
	.panel-account {
		width: 60%;
	}
}
@media (min-width: 1290px) {
	.item-box__right-btns--item-heart {
		display: block;
	}
}
